@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}

/* only for mobile */

@media screen and (max-width: 767px) {
  /*----mobile-menu--*/
  .header-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-light-color);
  }

  .header-btn-mobile-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);
  }

  .header-icon-btn {
    fill: currentColor;
  }

  .header-btn-mobile-close:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
  }

  .header-btn-mobile-close:is(:hover, :focus) .header-icon-btn {
    fill: var(--secondary-light-color);
  }

  .header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark);
    transition: color 250ms var(--timing-function);
  }

  .header-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .header-link.active {
    color: var(--pressed-state-color);
  }

  .header-address {
    margin-top: auto;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .header-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-brand-color);
    transition: color 250ms var(--timing-function);
  }

  .header-mail {
    order: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms var(--timing-function);
  }

  .header-mail:hover,
  .header-mail:focus,
  .header-tel:hover,
  .header-tel:focus {
    color: var(--pressed-state-color);
  }

  .header-socialmedia-list {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-top: 48px;
  }

  .header-socialmedia-item {
    width: 40px;
    height: 40px;
  }

  .header-socialmedia-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    color: var(--light-color, #f4f4fd);
    transition: background-color 250ms var(--timing-function);
  }

  .header-socialmedia-item-link:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
  }

  .header-socialmedia-icon {
    fill: currentColor;
  }

  .advantage-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-item {
    margin: 0 auto;
  }

  .photo-gallery-item-wrap {
    width: 100%;
  }

  .photo-gallery-item-wrap img:nth-child(-1n + 4) {
    object-fit: cover;
    overflow: hidden;
    object-position: -3px -16px;
  }

  .footer {
    text-align: center;
    padding: 96px 15px;
  }

  .footer-socialmedia {
    margin-top: 72px;
  }

  .footer-form {
    margin-top: 72px;
  }

  .footer-form-input {
    margin-top: 16px;
  }

  .footer-form-btn {
    margin: 16px auto 0;
  }

  .footer-main-information {
    display: block;
    margin: 0 auto;
  }

  .photo-gallery-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

/* for mobile and tablet */

@media screen and (max-width: 1199px) {
  .advantage-item-decor {
    display: none;
  }
  .advantage-icon {
    display: none;
  }
  .about {
    display: none;
  }

  .footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--secondary-light-color);
    opacity: 0.6;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 112px 24px;
  }

  .footer-form-input {
    border: 1px solid var(--secondary-light-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .footer-form-label {
    transform: translateY(-40px);
  }
}
